name: Release Published
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 18
      - run: npm ci
      - uses: JS-DevTools/npm-publish@4ce4bd0f334d5316473155078da1955d42148494 # v4.1.4
        with:
          token: ${{ secrets.NPM_PUBLISH_TOKEN }}
          access: public
      - name: getVersion
        id: getVersion
        shell: bash
        run: |
          VERSION=$(npm info . --json version | sed -e 's/"//g')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - uses: flowfuse/github-actions-workflows/actions/update-nr-flows@b46fc1068ef94834df206465cd9ce9b603998d06 # pre v0.49.0
        with:
          package: '@flowfuse/nr-project-nodes'
          version: ${{ steps.getVersion.outputs.version }}
